.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 74px;
  padding: 0 70px;
  box-sizing: border-box;
  background-color: #073042;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 44px;
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  margin-right: 30px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  background-color: #2BE080;
  border: 1px solid #2BE080;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 20px;
  color: #000000;
}