.about-project__columns {
  margin: 70px 0 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__column {
  margin: 0 30px 0 0;
  max-width: 320px;
}

.about-project__column:last-of-type {
  margin: 0;
}

.about-project__subtitle {
  margin: 0 0 22px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__plan {
  display: grid;
  grid-template-columns: 228px 1fr;
}

.about-project__plan-column {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about-project__plan-backend {
  background-color: #2BE080;
}

.about-project__plan-frontend {
  background-color: #F2F2F2;
}

.about-project__plan-text {
  color: #A0A0A0;
}

@media screen and (max-width: 1024px) {
  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__plan {
    display: grid;
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (max-width: 640px) {
  .about-project__subtitle {
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__columns {
    flex-direction: column;
    margin: 60px 0;
  }

  .about-project__column {
    margin: 0 0 56px;
    max-width: none;
  }

  .about-project__column:last-of-type {
    margin: 0;
  }

  .about-project__plan {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .about-project__plan-column {
    font-size: 11px;
    line-height: 13px;
  }
}

